ip: "192.168.1.100"
mac: "AA:BB:CC:DD:EE:FF"
# client_key: "WILL_BE_FILLED_AUTOMATICALLY"

telegram:
  bot_token: "YOUR_BOT_TOKEN_HERE"
  allowed_chat_ids:
    - 123456789

web:
  port: 8080
  host: "0.0.0.0"
  buttons:
    - label: "Channel 1"
      action: "channel_1"
      color: "#457B9D" # Blue
    - label: "Channel 2"
      action: "channel_2"
      color: "#F4A261" # Orange
    - label: "ON"
      action: "turn_on"
      color: "#27AE60" # Green
    - label: "OFF"
      action: "turn_off"
      color: "#000000" #Black
